*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body{
    color: black;
    
}
.container1{
    background:rgba(0, 0, 0, 0.6) url(netflix.jpg);
    background-blend-mode: darken;
    height:100vh;

   
}
.container-black{
    background-color: black;
    height:190vh;
    width: 100%;
    padding: 20px 100px;
}
.logo{
    width: 12%;
}
.btn{
    padding: 8px 15px;
    color: #fff;
    background-color: #e50914;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}
.nav{
    padding-top: 5px;
    padding-left: 2vw;
    padding-right: 5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
select{
 margin-left: 70%;   
 padding: 8px;
 background-color: transparent;
 color: white;

}
.options{
    background-color: #ddd;
    color: black;
}
.content {
    color: #fff;
    position: absolute;
    bottom: 8%;
    left: 30%;
}
.content h1{
    font-size: 50px;
    margin-bottom: 20px;
    

}
.content h3{
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 400;
}
.content  p{
    margin-bottom: 20px;
    font-weight: 200;
}
.mail{
    width: 697px;
    position: relative;
    right: 100px;
    height: fit-content;
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.mail input{
    outline: none;
    border:none;
    padding: 12px 10px;
    size: 1em;
    font-size: 20px;

}
.mail a{
    height: fit-content;
    background: #e50914;
    color: white;
    padding: 18px 12px;
    text-decoration: none;


}
.bar{
    width: 100%;
    height: 10px;
    background-color: rgb(103, 93, 93);
}
.container_box{
    width: 100%;
    height: 80vh;
    background-color: black;
    color: white;
    display: flex;
    padding: 60px 30px;
}
.first{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    align-items: center;
}
.first h1{
    font-size: 60px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.first h2 {
    font-size: 1.625rem;
    font-weight: 400;
    
}
.second{
    width: 50%;
}
.three img{
    width: 90%;

}
.four{
    margin-top: 60px ;
}
.four h1{
    font-size: 60px;
    text-align: start;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.four h2{
    font-size: 1.625rem;
    font-weight: 400;
}
#third img{
    width: 80%;
}


.accordion {
    background: #303030;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.7s;
  }
  .panel{

    padding: 0 18px;
    display: none;
    background: #303030;
    overflow: hidden;
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    width: 100%;
    color: white;
  }
  .panel p{
    font-size: 28px;
    font-weight: 100;
  }
  .hello{
    margin: 40px 0 !important;
  }


/* @media(max-width:1200px){
    select {
        margin-left: 30%;
        padding: 8px;
    }
    .logo{
        width: 25%;
    }
    .content{
        color: #fff;
        position: absolute;
        bottom: 8%;
        left: 29%;

    }
    .content h1{
        position: absolute;
        top: 100%;
    }
    .btn{
        min-width: 20%;
    }
}
@media(max-width:367px){
    .btn{
        min-width: 50%;
    } 
    body{
        overflow: scroll;
    }
    .content{
        margin-bottom: 100px;
    }
}@media(max-width:384px){
    .btn{
        min-width: 23%;
        margin-left: 10px;
    } 
} */